{{#if active}}
    <form action="api/stop" method="post">
        <br>
        <input type="submit" value="Stop attack">
        <p><span class="red">Attack active</span></p>
        <p>Alive: {{botCount}}</p>
        <h3>Bots</h3>
        {{#each bots}}
            {{#if this.working}}
                <p><span class="green">Alive ✓</span></p>
            {{else}}
                <p><span class="red">Dead ✗</span></p>
            {{/if}}
        {{/each}}
    </form>
{{else}}
    <form action="api/start" method="post">
        <p>Invite code</p>
        <input type="text" value="{{attack.invite}}" name="invite">
        <p>Channel ID</p>
        <input type="text" value="{{attack.id}}" name="id">
        <p>Message</p>
        <textarea cols="50" rows="3" name="message">{{attack.message}}</textarea>
        <br><br>
        <input type="submit" value="Start attack">
        <p><span class="green">Ready</span></p>
        <p>Proxies: {{proxyCount}}</p>
        <p>Tokens: {{tokenCount}}</p>
    </form>
{{/if}}