{{#if active}}
    <p><span class="red">Attack active</span></p>
{{else}}
    <p><span class="green">Ready</span></p>
{{/if}}
<p>Proxies: {{proxyCount}}</p>
<p>Tokens: {{tokenCount}}</p>
<h3>Proxies</h3>
{{#each proxies}}
    {{#if this.working}}
        <p>{{this.item}} <span class="green">passed ✓</span></p>
    {{else}}
        <p>{{this.item}} <span class="red">failed ✗</span></p>
    {{/if}}
{{/each}}
<h3>Tokens</h3>
{{#each tokens}}
    {{#if this.working}}
        <p>{{this.item}} <span class="green">passed ✓</span></p>
    {{else}}
        <p>{{this.item}} <span class="red">failed ✗</span></p>
    {{/if}}
{{/each}}
